// BEM buttons — maps to Figma Button/Primary variants.
@use '../abstracts' as *;

.button {
  @extend %button-base;
  padding: $spacing-sm $spacing-lg;
  background-color: $color-success-500;
  color: $color-white;

  &:hover {
    background-color: $color-primary-600;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--secondary {
    background-color: $color-neutral-100;
    color: $color-neutral-900;

    &:hover {
      background-color: $color-neutral-500;
      color: $color-white;
    }
  }
}

// .tabs {
//   background-color: green;
// }
